body {
  margin-left: 200px;
  margin-right: 10%;
  font-family: sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  color: green;
}

h2 a,
h3 a,
h4 a,
h5 a,
h6 a
{
  display: none;
}

b.erra,
b.anno 
{
  display: none;
  cursor: pointer;
}


h2:hover a,
h3:hover a,
h4:hover a,
h5:hover a,
h6:hover a 
{
  display: inline;
  text-decoration: none;
  font-weight: normal;
}

h2:hover b.erra,
h3:hover b.erra,
h4:hover b.erra,
h5:hover b.erra,
h6:hover b.erra,
h2:hover b.anno,
h3:hover b.anno,
h4:hover b.anno,
h5:hover b.anno,
h6:hover b.anno 
{
  display: inline;
  text-decoration: none;
  font-weight: normal;
}

h2 {
  margin-top: 48px;
}

#prolog h2 {
  margin-top: 0px;
}
h3 {
  margin-top: 36px;
}
h3, h4, h5, h6 {
  margin-bottom: 4px;
}
h3 + p, h4 + p, h5 + p, h6 + p {
  margin-top: 4px;
}
h1 {
  font-size: 180%;
}
h2 {
  font-size: 160%;
}
h3 {
  font-size: 130%;
}
h4 {
  font-size: 120%;
}
h5 {
  font-size: 110%;
}
h6 {
  font-size: 100%;
}
#doc-title {
  background-color: green;
  color: white;
  padding: 4px;
  padding-left: 8px;
}
#toc > ol,
#toc-full > ol {
  padding-left: 24px;
}
#toc > ol ol,
#toc-full > ol ol {
  padding-left: 24px;
}
#toc li,
#toc-full li  {
  list-style-type: none;
}
#toc,
#toc-full {
  margin-top: 36px;
  line-height: 80%
}
/* note that ES5 source does not use monospace for symbols */
.symbol {
}
/* below are based on other font names used in the original;
 * we retained them here just for the sake of not discarding
 * info from the source that could be useful */
  .a { } /* = arial in orig */
  .h { } /* = helvetica in orig */
  .t { } /* = times new roman in orig */
  .tr { } /* = literal "tms-rmn" in orig */
  .cgt { } /* = "cg-times" in orig */
  .figure {
    margin: 8px;
}
.figure > p:first-child {
  border: 1px solid #999;
  padding: 6px;
}
.caption {
  margin-top: 8px;
  margin-bottom: 16px;
}
#copyright {
  margin-top: 8px;
  margin-bottom: 8px;
}
#license {
  margin-top: 8px;
  margin-bottom: 8px;
  border: 1px solid #000000;
  padding: 4px;
}
b {
  font-weight: bold;
  color: green;
}
.note {
  font-weight: bold;
  color: green;
}
.note::after {
  content: "   ";
}
.keeps {
  margin-top: 0cm;
  margin-bottom: 0.42cm;
  page-break-inside: avoid;
  page-break-after: avoid
}
.keep {
  margin-top: 32px;
  margin-bottom: 0cm;
  page-break-after: avoid
}
.keep + p {
  margin-top: 0;
}
p.sp {
  margin-top: 0cm;
  margin-bottom: 0.42cm;
}
p.sm-btm {
  margin-top: 0cm;
  margin-bottom: 0.21cm;
}
p.tiny-btm {
  margin-bottom: 0.21cm;
  page-break-inside: avoid;
  page-break-after: avoid;
}
.def1 {
  margin-left: 1.02cm;
  margin-top: 0;
  margin-bottom: 0;
  page-break-after: avoid;
}
.def1-btm {
  margin-left: 1.02cm;
  margin-top: 0;
  margin-bottom: 0.39cm;
  page-break-inside: avoid:
}
.def2 {
  margin-left: 2.03cm;
  margin-top: 0cm;
  margin-bottom: 0.39cm;
  page-break-inside: avoid;
}
.def2-alt {
  margin-left: 2.03cm;
  margin-top: 0cm;
  margin-bottom: 0.39cm;
  font-style: normal;
  page-break-inside: avoid;
}
.code-example {
  margin-left: 2.23cm;
  margin-right: 2.23cm;
  margin-top: 0cm;
  margin-bottom: 0cm;
}
.code-example + p:not(.code-example) {
  margin-top: 1em;
}
.date-definition {
  margin-left: 3.23cm;
  margin-right: 2.23cm;
  text-indent: -1cm;
  margin-top: 0cm;
  margin-bottom: 12px;
}
caption {
  font-weight: bold;
  margin-top: 6px;
  margin-bottom: 6px;
  page-break-after: avoid;
}
.biblio {
  margin-left: 1.16cm;
  margin-top: 0cm;
  margin-bottom: 0.42cm;
}
td {
  padding: 4px;
}
td > p {
  margin-top: 0px;
  margin-bottom: 0px;
}
ul.outer {}
ul.inner {}
ol.inner {}
ol > li {
  margin-top: 12px;
}
ol > li > ol {
  list-style-type: lower-alpha;
}
ol > li > ol > li > ol {
  list-style-type: lower-roman;
}
ol > li > ol > li > ol > li > ol {
  list-style-type: decimal;
}
ol > li > ol > li > ol > li > ol > li > ol {
  list-style-type: lower-alpha;
}
ol ul {
  margin-top: 8px;
  margin-left: 0;
  list-style-type: disc;
  padding-left: 20px
}
li > p {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}
.indent-1 {
  margin-left: 1.59cm;
  margin-top: 0cm;
  margin-bottom: 0.21cm;
  letter-spacing: 0.3pt;
}
li p.indent-1 {
  margin-left: 1.59cm;
  margin-top: 0cm;
  margin-bottom: 0.21cm;
  letter-spacing: 0.3pt;
}
li p.indent-1-no-bottom {
  margin-left: 1.59cm;
  margin-top: 0cm;
  margin-bottom: 0.21cm;
}
.pre {
  white-space: pre;
  margin-top: 6px;
  margin-bottom: 6px;
  margin-left: 20px;
}
.small-caps {
  font-variant: small-caps;
}
.lower-alpha {
  list-style-type: lower-alpha;
}
.lower-roman {
  list-style-type: lower-roman;
}
.decimal {
  list-style-type: decimal;
}
.see {
  float: right;
}

#stamp {
  position: fixed;
  top: 50px;
  left: 10px;
  width: 150px;
}

#mascot {
  width: 150px;
}

#slogan {
  text-align: center;
  font-weight: bold;
  font-style: italic;
  color: green;
}

span.table-header { }

@page { margin-right: 1.3cm; margin-top: 1.25cm; margin-bottom: 0.5cm }
@page:first { margin-top: 7.75cm; margin-bottom: 0.5cm }
